{% set clazz = "score" %}
{% set title = game.name + ' 游戏印象' %}
{% extends layout %}
{% import macro as macro %}
{% block style %}
  <link rel="stylesheet" href="{{ '/assets/css/game.css'|version }}" />
{% endblock %}
{% block content %}
  {% if not nested %}
    <header class="bar" ui-mode="header">
      {{ macro.back() }}
      <h1 class="title">{{ title }}</h1>
    </header>
  {% endif %}
  <section class="has-footer">
    <div class="banner vspace hspace clearfix" ui-mode="60px">
      <div class="avatar">
        <img class="center-block" src="{{ game.logo }}" ui-mode="110px" />
      </div>
      <div class="text">
        <h3 class="text-xxl">综合印象：{{ game.score }}星</h3>
        <div class="starts">
          {% for item in range(game.score) %}
            <i class="icon text-yellow">&#xe60f;</i>
          {% endfor %}
          {% for item in range(5 - game.score) %}
            <i class="icon text-light">&#xe60f;</i>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="vspace" ui-mode="80px">
      <div class="hspace labels" ui-mode="20px">
        {% for item in game.label|split %}
          <span class="item">{{ item }}</span>
        {% endfor %}
      </div>
    </div>
  </section>
  <footer class="bar" ui-mode="footer fixed flat">
    <button class="button" ui-mode="success square">下载游戏</button>
  </footer>
{% endblock %}
{% block script %}
  <script src="{{ '/assets/js/game.js'|version }}"></script>
{% endblock %}
