<div id="footer">
  <div class="wrapper">
    <div class="clearfix">
      <div class="pull-left">
        <span class="text-muted">
          &copy; 传奇游戏<!-- &nbsp;京ICP备12006498号 -->
        </span>
        <span class="text-muted">合作QQ: 3520902339</span>
        <span class="text-muted">联系邮箱: whosesmile#gmail.com</span>
      </div>
      <div class="pull-right">
        <span class="links">
          <a href="">关于我们</a>
          <a href="">联系我们</a>
          <a href="">版权声明</a>
        </span>
      </div>
    </div>
  </div>
</div>
