<div id="header">
  <div class="mainer">
    <div class="wrapper">
      <a class="logo" href="/">
        <img src="/assets/images/logo.png" alt="传奇游戏" /> 传奇游戏
      </a>
      <div class="pull-right extra">
        <span class="slogan">传奇你我，游戏人生！</span>
        <ul class="list-unstyled list-inline">
          <li><a href="">登录</a></li>
          <li><a href="">注册</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navigator">
    <div class="wrapper">
      <ul class="list-unstyled list-inline">
        <li><a href="/">首页</a></li>
        <li><a href="{{ macro.flatten('/games', {category: 1}) }}">联网手游</a></li>
        <li><a href="{{ macro.flatten('/games', {category: 2}) }}">单机手游</a></li>
        <li><a href="{{ macro.flatten('/games', {category: 3}) }}">破解手游</a></li>
        <li><a href="{{ macro.flatten('/games', {category: 4}) }}">变态手游</a></li>
      </ul>
    </div>
  </div>
</div>
