<div class="title">
  <h2>手游列表</h2>
</div>
<div class="filter">
  <div class="row">
    <div class="col col-sm-9"></div>
    <div class="col col-sm-3 text-right">
      <a class="btn btn-success" ui-sref="game">+新增游戏</a>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>图标</th>
      <th>名称</th>
      <th>风格</th>
      <th>大小</th>
      <th>标签</th>
      <th>简介</th>
      <th>排序</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in list">
      <td>{{ item.id }}</td>
      <td><img width="30" ng-src="{{ item.logo }}" /></td>
      <td>{{ item.name }}</td>
      <td>{{ item.style }}</td>
      <td>{{ item.size }}MB</td>
      <td>{{ item.tag }}</td>
      <td>{{ item.brief|limitTo:20 }}...</td>
      <th>{{ item.sort }}</th>
      <td ng-class="{'text-muted': !item.status, 'text-success': item.status}">{{ item.status|status }}</td>
      <td>
        <a class="toggle" ng-click="toggle(item)">{{ item.status|status:true }}</a>
        <a href="/game/{{ item.id }}" target="_blank">预览</a>
        <a ui-sref="ugame({id: item.id})">编辑</a>
        <a class="delete" ng-click="delete(item)">删除</a>
      </td>
    </tr>
  </tbody>
</table>
<div class="loading" ng-if="!list">
  <i></i>
  <p class="text-muted text-xl">正在加载...</p>
</div>
<div class="text-center" ng-if="list.length == 0">
  <p class="text-muted text-xl">暂无数据</p>
</div>
<div class="text-center" ng-show="list.length &amp;&amp; count > size">
<ul uib-pagination boundary-links="true" boundary-link-numbers="true" max-size="5" total-items="count" items-per-page="size" ng-model="page" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" ng-change="query()"></ul>
</div>
