<div class="title">
  <h2>手游分类</h2>
</div>
<div class="filter">
  <div class="row">
    <div class="col col-sm-9"></div>
    <div class="col col-sm-3 text-right">
      <a class="btn btn-success" ng-click="create()">+新增分类</a>
    </div>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>图标</th>
      <th>名称</th>
      <th>排序</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in list">
      <td>{{ item.id }}</td>
      <td><img ng-src="{{ item.logo }}" /></td>
      <td>{{ item.name }}</td>
      <td>{{ item.sort }}</td>
      <td>
        <a class="update" ng-click="update(item)">编辑</a>
        <a class="delete" ng-click="delete(item)">删除</a>
      </td>
    </tr>
  </tbody>
</table>
<div class="loading" ng-if="!list">
  <i></i>
  <p class="text-muted text-xl">正在加载...</p>
</div>
<div class="text-center" ng-if="list.length == 0">
  <p class="text-muted text-xl">暂无数据</p>
</div>
<div class="text-center" ng-if="count > size">
  <ul uib-pagination boundary-links="true" boundary-link-numbers="true" max-size="10" total-items="count" ng-model="page" class="pagination-sm" previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页" ng-change="query()"></ul>
</div>
