{% set clazz = "game" %}
{% set title = game.name %}
{% extends layout %}
{% import macro as macro %}
{% block style %}
  <link rel="stylesheet" href="{{ '/assets/css/game.css'|version }}" />
{% endblock %}
{% block content %}
  {% if not nested %}
    <header class="bar" ui-mode="header">
      {{ macro.back() }}
      <h1 class="title">{{ title }}</h1>
    </header>
  {% endif %}
  <section class="has-footer">
    <div class="banner autofix">
      <img class="center-block" src="{{ game.banner }}" />
      <div class="list">
        <div class="item">
          <div class="avatar" ui-mode="20px">
            <img src="{{ game.logo }}" ui-mode="110px" />
          </div>
          <span class="text text-xxl">
            {{ game.name }}
            <p class="text-gray text-xs">{{ game.style }} <i class="dot">&middot;</i> {{ game.size }}MB</p>
          </span>
        </div>
      </div>
      <div class="flexbox compact text-center text-sm">
        <a class="item">
          <p>充值比例</p>
          <span class="text-xs">1 : {{ game.ratio }}</span>
        </a>
        <a class="item">
          <p>礼包中心</p>
          <span class="text-xs text-gray">尚未开放</span>
        </a>
      </div>
    </div>
    <div id="score" class="list" ui-mode="compact">
      <div class="item-divider">游戏印象</div>
      <a class="item" ui-mode="30px" href="/score/{{ game.id }}">
        <div class="text">
          <div class="starts">
            {% for item in range(game.score) %}
              <i class="icon text-yellow">&#xe60f;</i>
            {% endfor %}
            {% for item in range(5 - game.score) %}
              <i class="icon text-light">&#xe60f;</i>
            {% endfor %}
          </div>
          <div class="labels">
            {% for item in game.label|split %}
              <span class="item">{{ item }}</span>
            {% endfor %}
          </div>
        </div>
        <i class="icon text-gray">&#xe60b;</i>
      </a>
    </div>
    <div id="introduce" class="list" ui-mode="compact">
      <div class="item-divider">游戏介绍</div>
      <div class="item" ui-mode="20px">
        <div class="center-block text-md text-dark ">
          <div class="summary">{{ game.brief|truncate(40) }}</div>
          <div class="content">{{ game.describe|safe }}</div>
          <a class="center-block text-center text-blue action">查看全文</a>
        </div>
      </div>
    </div>
    <div id="showcase">
      <div class="panel">
        {% for item in game.pictures %}
          <div class="item">
            <img class="center-block" src="{{ item }}" />
          </div>
        {% endfor %}
      </div>
    </div>
    {% if near.length %}
      <div id="promote">
        <div class="divider text-gray" ui-mode="15%">玩{{ title }}的玩家也在玩</div>
        <div class="flexbox">
          {% for item in near %}
            <a class="item text-center" href="/game/{{ item.id }}">
              <div class="avatar">
                <img class="center-block" src="{{ item.logo }}" />
              </div>
              <div class="text-sm text-black text-ellipsis">{{ item.name }}</div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </section>
  <footer class="bar" ui-mode="footer fixed flat">
    <a class="button" ui-mode="success square" href="{{ game.android }}">进入游戏</a>
  </footer>
{% endblock %}
{% block script %}
  <script src="{{ '/assets/js/game.js'|version }}"></script>
{% endblock %}
