{% set clazz = 'home' %}
{% extends main %}
{% import macro as macro %}
{% block style %}
  <link rel="stylesheet" href="{{ '/assets/css/legend.css'|version }}" />
{% endblock %}
{% block content %}
  {% include "./partial/header.html" %}

  <div id="content">
    <div class="wrapper">
      <div class="box">
        <div class="header">
          <h3 class="title blue">精品推荐</h4>
        </div>
        <div class="content">
          <div class="case2">
            <ul class="list-unstyled list-inline ">
              {% for item in grapes.list %}
                <li class="shadow-hover">
                  <a href="/game/{{ item.game.id }}">
                    <div class="figure">
                      <img class="center-block" alt="{{ item.game.name }}" src="{{ item.image }}" />
                    </div>
                    <div class="info">
                      <span class="avatar"><img alt="{{ item.game.name }}" src="{{ item.game.logo }}"></span>
                      <span class="name">{{ item.game.name }}</span>
                    </div>
                    <p>{{ item.summary }}</p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="main pull-left">
          <div class="box">
            <div class="header">
              <h3 class="title green">变态手游</h4>
            </div>
            <div class="content">
              <div class="case4">
                <ul class="list-unstyled list-inline clearfix">
                  {% for item in cherries.list %}
                    <li class="shadow-hover">
                      <a class="avatar" href="/game/{{ item.game.id }}">
                        <img alt="{{ item.game.name }}" class="center-block" src="{{ item.image }}" />
                      </a>
                      <a class="title" href="/game/{{ item.game.id }}">{{ item.game.name }}</a>
                      <p>{{ item.summary|safe }}</p>
                      <div class="actions">
                        <a href="/game/{{ item.game.id }}" class="button default round"><i class="icon text-muted">&#xe615;</i> 查看详情</a>
                        <a href="/game/{{ item.game.id }}" class="button success round"><i class="icon text-white">&#xe612;</i> 立即下载</a>
                      </div>
                      <div class="qrcode">
                        <img alt="{{ item.game.name }}" class="center-block" src="" />
                        <span class="text-muted">扫码下载</span>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="side pull-right">
          <div class="box">
            <div class="header">
              <h3 class="title purple">热点推荐</h4>
            </div>
            <div class="content">
              <div class="case5">
                <ul class="list-unstyled">
                  {% for item in [1,2,3,4,5, 6] %}
                    <li class="clearfix">
                      <span class="avatar">
                        <img class="center-block" src="http://m.25az.com/upload/icon/2016/08/17/0b2ebb575a21.png" />
                      </span>
                      <div class="text">
                        <h4 class="title">火影忍者</h4>
                        <div class="text-muted ellipsis">热血的青春，燃烧的斗志</div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="header">
          <h3 class="title">精品手游</h4>
        </div>
        <div class="content">
          <div class="case3">
            <ul class="list-unstyled list-inline">
              {% for item in games.list %}
                <li>
                  <a class="avatar" href="/game/{{ item.id }}">
                    <img class="center-block" alt="{{ item.name }}" src="{{ item.logo }}" />
                    <span>{{ item.name }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "./partial/footer.html" %}
{% endblock %}
