<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <title>传奇手游 - 管理后台</title>
    <link rel="stylesheet" href="{{ '/assets/vendor/bootstrap/css/bootstrap.min.css'|version }}" />
    <link rel="stylesheet" href="{{ '/assets/css/admin.css'|version }}" />
    <script src="{{ '/assets/vendor/jquery.min.js'|version }}"></script>
    <script src="{{ '/assets/vendor/angular.min.js'|version }}"></script>
    <script src="{{ '/assets/vendor/angular-router.min.js'|version }}"></script>
    <script src="{{ '/assets/vendor/angular-resource.min.js'|version }}"></script>
    <script src="{{ '/assets/vendor/ui-bootstrap.min.js'|version }}"></script>
    <script src="{{ '/assets/js/admin.js'|version }}"></script>
  </head>
  <body>
    <what-are-you-looking-for name="{{ admin.account|capitalize }}"></what-are-you-looking-for>
  </body>
</html>
