{% for item in list %}
  <a class="item" ui-mode="20px" href="/game/{{ item.id }}">
    <div class="avatar" ui-mode="20px">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" ui-mode="110px" data-src="{{ item.logo }}" />
    </div>
    <div class="text">
      <div class="text-md">
        {{ item.name }}
        {% if item.tag %}
          <span class="tag">{{ item.tag }}</span>
        {% endif %}
      </div>
      <p class="brief">充值比例 1:{{ item.ratio }}</p>
      <p class="brief">{{ item.brief }}</p>
    </div>
    <div class="pull-right">
      <button class="button" ui-mode="default xs inline imitate">进入</button>
    </div>
  </a>
{% endfor %}
