/* 水平分割 */
.split { margin: 0 8px; }

/* 通用 */
.list .item .text .tag { color: #fff; background-color: #f6081a; font-size: 22px; vertical-align: top; display: inline-block; border-radius: 5px; padding: 0 10px; margin-left: 5px; margin-top: 5px; }

/* 轮播 默认(750 * 240) */
body.home .swipe { position: relative; overflow: hidden; padding-top: 32%; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
body.home .swipe > .wrap { position: absolute; left: 0; top: 0; overflow: hidden; }
body.home .swipe > .wrap > .item { float: left; }
body.home .swipe > .pages { position: absolute; text-align: center; z-index: 10; bottom: 0; width: 100%; }
body.home .swipe > .pages > a { display: inline-block; width: 18px; height: 18px; overflow: hidden; margin: 0 5px; border-radius: 100%; vertical-align: middle; background-color: rgba(255, 255, 255, 0.5); box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.2); }
body.home .swipe > .pages > a.active { background-color: rgba(255, 120, 35, 0.8); }

/* 首页 */
body.home nav { padding: 20px; background-color: #fff; margin-top: 20px; }
body.home nav .item { color: #333; line-height: 1; }
body.home nav .item img { display: block; width: 95px; height: 95px; margin: auto auto 15px; }

/* 头图 */
body.game .banner { background-color: #002442; padding-top: 64%; /* padding-top: 50% */ }
body.game .banner:after { position: absolute; content: ''; top: 30%; left: 0; bottom: 0; right: 0; background: linear-gradient(to bottom, rgba(0, 34, 64, 0), rgba(0, 34, 64, 1) 50%, rgba(0, 34, 64, 1)); }
body.game .banner .list { position: absolute; width: 100%; bottom: 28%; margin: 0; z-index: 10; }
body.game .banner .list .item { background: transparent; color: #fff; }
body.game .banner .flexbox { position: absolute; height: 24%; bottom: 0; width: 100%; line-height: 1; background-color: rgba(255, 255, 255, 0.1); z-index: 10; }
body.game .banner .flexbox .item { color: #fff; }
body.game .banner .flexbox .item:not(:last-child) { border-right: 1px solid rgba(255, 255, 255, 0.5); }
body.game .banner .flexbox .item p { margin-bottom: 10px; }

/* 评分 */
body.game #score .starts { height: 48px; line-height: 1; }
body.game #score .labels { position: relative; margin-top: 10px; font-size: 0; }
body.game #score .labels .item { display: inline-block; padding: 15px 20px; color: #666; font-size: 24px; background-color: #f1f1f1; line-height: 1; border-radius: 27px; margin-right: 20px; }
body.game #score .labels:after { content: ''; position: absolute; right: 0; height: 100%; width: 20%; background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1))); background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); }

/* 介绍 */
body.game #introduce .item { background-size: 0 0, 0 0, 0 0, 0 0; }
body.game #introduce .action { cursor: pointer; margin: 20px 0 0; }
body.game #introduce .content { display: none; }
body.game #introduce .content p { margin-bottom: 20px; }
body.game .dot { margin: 0 10px; }

/* 图窗 */
body.game #showcase { background-color: #fff; }
body.game #showcase .panel { width: 100%; height: 475px; padding: 20px 10px; white-space: nowrap; overflow-y: hidden; overflow-x: scroll; -webkit-overflow-scrolling: touch; font-size: 0; }
body.game #showcase .item { display: inline-block; width: 290px; height: 435px; margin: 0 10px; overflow: hidden; }

/* 推荐 */
body.game #promote .item .avatar { width: 90px; height: 90px; border-radius: 20px; overflow: hidden; margin: 0 auto; }

/* 游戏评分 */
body.score { background-color: #fff; }
body.score .banner .avatar { float: left; width: 120px; height: 120px; overflow: hidden; }
body.score .banner .text { margin-left: 150px; padding-top: 5px; }
body.score .labels { font-size: 0; text-align: center; }
body.score .labels .item { display: inline-block; padding: 20px 30px; color: #666; font-size: 28px; background-color: #f1f1f1; line-height: 1; border-radius: 35px; margin: 10px; }
