body { background-color: #f9f9f9; font: 14px/1.5 Tahoma, 'Microsoft Yahei', Helvetica, Arial, 'sans-serif'; }
i, em, b { font-style: normal; font-weight: normal; }
ul, ol, li, .list-inline > li { margin: 0; padding: 0; }
img { vertical-align: middle; }
@-webkit-keyframes rotating {
  0% { -webkit-transform: rotatey(0); }
  15% { -webkit-transform: rotatey(0); }
  25% { -webkit-transform: rotatey(360deg); }
  100% { -webkit-transform: rotatey(360deg); }
}
@keyframes rotating {
  0% { transform: rotatey(0); }
  15% { transform: rotatey(0); }
  25% { transform: rotatey(360deg); }
  100% { transform: rotatey(360deg); }
}
@font-face { font-family: 'iconfont'; src: url('//at.alicdn.com/t/font_1472699245_6751406.eot'); src: url('//at.alicdn.com/t/font_1472699245_6751406.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1472699245_6751406.woff') format('woff'), url('//at.alicdn.com/t/font_1472699245_6751406.ttf') format('truetype'), url('//at.alicdn.com/t/font_1472699245_6751406.svg#iconfont') format('svg'); }
.icon { font-family: 'iconfont'; font-style: normal; display: inline-block }
.text-primary { color: #0ae; }
.text-success { color: #00bb44; }
.text-warning { color: #ff5a32; }
.text-muted, .text-gray { color: #999; }
.text-danger { color: #f4333c; }
.text-dark { color: #333; }
.text-yellow { color: #ffb710; }
.text-light { color: #ccc; }
.wrapper { width: 1120px; margin: 0px auto; padding: 0 20px; }
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.center-block { width: 100%; }
.shadow-hover:hover { box-shadow: 0 0 3px #54f406; }
.vspace { margin-top: 20px; margin-bottom: 20px; }
.hspace { margin-left: 20px; margin-right: 20px; }
.disabled { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; cursor: not-allowed; }
.disabled:hover { text-decoration: none; color: #999; }
.pagination { margin-bottom: 0; }
.pagination>li>a, .pagination>li>span { color: #333; }
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { background-color: #e4393c; border-color: #e4393c; }

/* 文字信息 */
.article { line-height: 1.5; margin: 20px 0; color: #888; font-size: 14px; }
.article h2 { font-weight: 900; margin: 20px 0; font-size: 16px; color: #333; }
.article p { margin-bottom: 10px; }

/* antiscroll */
.antiscroll-wrap { display: inline-block; position: relative; overflow: hidden; }
.antiscroll-wrap .box { display: block; width: 1024px; }
.antiscroll-scrollbar { background: gray; background: rgba(0, 0, 0, 0.5); -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; -webkit-box-shadow: 0 0 1px #fff; -moz-box-shadow: 0 0 1px #fff; box-shadow: 0 0 1px #fff; position: absolute; opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); -webkit-transition: linear 300ms opacity; -moz-transition: linear 300ms opacity; -o-transition: linear 300ms opacity; }
.antiscroll-scrollbar-shown { opacity: 1; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
.antiscroll-scrollbar-horizontal { height: 7px; margin-left: 2px; bottom: 2px; left: 0; }
.antiscroll-scrollbar-vertical { width: 7px; margin-top: 2px; right: 2px; top: 0; }
.antiscroll-inner { overflow: scroll; }
.antiscroll-inner::-webkit-scrollbar { width: 0; height: 0; }
.antiscroll-inner::scrollbar { width: 0; height: 0; }

/* 图窗 */
.shows { background-color: #fff; }
.shows .panel { width: 100%; height: 535px; padding: 0; margin: 0 -10px; white-space: nowrap; font-size: 0; }
.shows .item { display: inline-block; width: 290px; height: 485px; margin: 0 10px; overflow: hidden; }

/* 更改选项卡效果 */
.nav > li > a { text-align: center; min-width: 130px; color: #333; font-size: 16px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background-color: #d24f4b; color: #fff; }

/* 自定义按钮 */
.button { display: inline-block; height: 28px; line-height: 26px; text-align: center; font-size: 14px; padding: 0 10px; cursor: pointer; background-color: #fff; border: 1px solid #eee; text-decoration: none !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -webkit-background-origin: border-box; background-origin: border-box; }
.button.round { border-radius: 14px; }
.button.default { background-color: #fff; color: #555; }
.button.default:hover { background-color: #f9f9f9; color: #333; }
.button.warning { color: #fff; background-color: #a50016; border-color: #a50016; }
.button.warning:hover { background-color: #d72318; }
.button.success { color: #fff; background-color: #06bc04; border-color: #06bc04; }
.button.success:hover { background-color: #07a841; }

/* 左右布局 */
.column:before, .column:after { content: " "; display: table; }
.column:after { clear: both; }
.column .main { width: 805px; }
.column .side { width: 255px; }

/* 1#排版 */
.case1 { overflow: hidden; margin-top: -10px; }
.case1 ul { margin-left: -10px; margin-right: -10px; }
.case1 li { padding: 0; width: 340px; margin: 10px; background-color: #fff; border-radius: 5px; overflow: hidden; border: 1px solid #eee; }
.case1 li .avatar { display: block; width: 340px; height: 200px; overflow: hidden; }
.case1 li .name { font-size: 20px; color: #383838; }
.case1 li .summary { padding: 10px 20px; }

/* 2#排版 */
.case2 { margin-top: -10px; }
.case2 ul { margin-left: -10px; margin-right: -10px; }
.case2 li { position: relative; padding: 2px; background-color: #fff; margin: 10px; width: 255px; border-radius: 3px; box-shadow: 0 0 3px #eee; }
.case2 li a { text-decoration: none; color: #333; }
.case2 li .figure { width: 251px; height: 251px; overflow: hidden; }
.case2 li .info { position: absolute; left: 10px; bottom: 38px; height: 50px; z-index: 10; width: 100%; }
.case2 li .info .avatar { float: left; width: 50px; padding: 2px; box-shadow: 0 0 5px #999; border: 1px solid #eee; background-color: #fff; border-radius: 3px; }
.case2 li .info .avatar img { width: 44px; height: 44px; }
.case2 li .info .name { float: left; padding: 30px 0 0 10px; color: #fc5a0a; }
.case2 li:nth-child(2n) .info .name { color: #690; }
.case2 li:nth-child(3n) .info .name { color: #a0e; }
.case2 li:nth-child(4n) .info .name { color: #0ae; }
.case2 li p { padding: 32px 10px 8px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; margin: 0; }

/* 3#排版 */
.case3 { background-color: #fff; border: 1px solid #eee; border-radius: 5px; }
.case3 ul { padding: 8px; text-align: center; }
.case3 li { width: 90px; font-size: 12px; margin: 8px; text-align: center; }
.case3 li img { width: 72px; height: 72px; border-right: 10px; margin-bottom: 5px; }
.case3 li a { color: #666; text-decoration: none; }
.case3 li a:hover { color: #337ab7; }
.case3 li span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* 4#排版*/
.case4 { margin-top: -10px; }
.case4 ul { margin-left: -10px; margin-right: -10px; }
.case4 li { position: relative; width: 392px; height: 194px; padding-left: 210px; margin: 10px; background-color: #fff; border: 1px solid #e8e8e8; border-radius: 10px; float: left; font-size: 12px; }
.case4 li .avatar { position: absolute; top: 2px; left: 2px; width: 190px; height: 190px; overflow: hidden; border-radius: 3px 0 0 3px; }

/*
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .6)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .6));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .6));
*/
.case4 li .avatar:after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 50%; }
.case4 li .title { display: block; font-size: 16px; margin-top: 15px; margin-bottom: 5px; color: #333; }
.case4 li p { margin: 0; color: #888; line-height: 1.5 }
.case4 li .actions { margin-top: 22px; }
.case4 li .button { margin-bottom: 8px; }
.case4 li .button .icon { font-weight: 700; min-width: 14px; }
.case4 li .qrcode { position: absolute; right: 10px; bottom: 10px; width: 65px; text-align: center; display: none; }
.case4 li .qrcode img { height: 65px; }

/* 5#排版*/
.case5 { background-color: #fff; border: 1px solid #eee; border-radius: 5px; padding: 15px; min-height: 408px; }
.case5 li { margin-bottom: 15px; }
.case5 li:last-child { margin-bottom: 0; }
.case5 li .avatar { float: left; width: 50px; height: 50px; border-radius: 10px; overflow: hidden; }
.case5 li .text { margin-left: 60px; font-size: 12px; }
.case5 li .title { margin: 0; padding: 5px 0; font-size: 16px; font-weight: 500; }

/* 6#排版*/
.case6 ul { margin-left: -7px; margin-right: -8px; }
.case6 li { width: 350px; padding: 15px; margin: 8px 8px 8px 7px; background-color: #fff; border: 1px solid #e8e8e8; border-radius: 10px; float: left; font-size: 14px; }
.case6 li a:hover { text-decoration: none; }
.case6 li .avatar { width: 100px; height: 100px; overflow: hidden; border-radius: 16px; }
.case6 li .summary { margin-left: 115px; }
.case6 li .title { display: block; font-size: 18px; margin-top: 15px; margin-bottom: 5px; color: #333; }
.case6 li p { margin: 0; color: #888; line-height: 1.5 }
.case6 li .actions { line-height: 34px; }
.case6 li .brief { margin-top: 10px; }
.case6 li .button { margin-bottom: 8px; }
.case6 li .button .icon { font-weight: 700; min-width: 14px; }

/* 盒子 */
.box .header { padding: 20px 0; }
.box .header .title { line-height: 20px; font-size: 20px; text-indent: 15px; border-left: 4px #cf1132 solid; margin: 0; }
.box .header .title.green { border-color: #4cc123; }
.box .header .title.blue { border-color: #0ae; }
.box .header .title.purple { border-color: #a0e; }

/* 导航 */
#header .topbar { height: 35px; background: #fafafa; border-bottom: 1px solid #ebebeb; width: 100%; font-size: 14px; line-height: 35px; }
#header .mainer { background-color: #fff; }
#header .mainer .wrapper { padding-top: 10px; padding-bottom: 10px; }
#header .mainer .logo { color: #a50016; font-size: 26px; font-weight: 700; display: inline-block; text-decoration: none; }
#header .mainer .logo img { display: inline-block; width: 50px; height: 50px; vertical-align: middle; -webkit-animation: rotating 10s linear infinite; animation: rotating 10s linear infinite; }
#header .mainer .extra { padding-top: 13px; }
#header .mainer .extra .slogan { color: #666; margin-right: 20px; }
#header .mainer .extra ul { display: inline-block; margin: 0; padding: 0; line-height: 1; }
#header .mainer .extra ul li { margin: 0; padding: 0; }
#header .mainer .extra ul li:last-child { margin-left: 10px; padding-left: 10px; position: relative; }
#header .mainer .extra ul li:last-child:after { content: ''; position: absolute; left: -1px; top: 0; bottom: 0; border-left: 1px solid #fefefe; border-right: 1px solid #eee; }
#header .navigator { height: 50px; background-color: #a50016; line-height: 50px; font-size: 18px; overflow: hidden; }
#header .navigator li { min-width: 130px; text-align: center; position: relative; padding: 0; margin: 0; }
#header .navigator li:after { content: ''; position: absolute; right: 0px; top: 15px; bottom: 15px; border-left: 1px solid #c7001f; border-right: 1px solid #7f0b1a; }
#header .navigator li:hover { background-color: #8b000f; }
#header .navigator li:hover:after { border: none; }
#header .navigator a { display: block; color: #fff; text-decoration: none; }
#footer .wrapper { padding: 30px; font-size: 12px; clear: both; margin-top: 30px; border-top: 1px solid #eee; }
#footer .wrapper .pull-left span { margin-right: 5px; }
#footer .wrapper .links { margin-left: 20px; }
#footer .wrapper .links a { position: relative; display: inline-block; margin-right: 10px; padding-right: 10px; line-height: 1; }
#footer .wrapper .links a:after { content: ''; position: absolute; right: -1px; top: 0; bottom: 0; border-left: 1px solid #fefefe; border-right: 1px solid #eee; }
#footer .wrapper .links a:last-child:after { border: none; }

/* 游戏详情 */
body.game { background-color: #fff; }
body.game h1 { font-size: 22px; margin: 0; padding: 10px 0 10px 0; }
body.game #content { padding-top: 20px; }
body.game .aside { border-left: 1px solid #eee; }
body.game .aside h3 { font-size: 18px; margin: 0; padding: 10px 0 10px 10px; line-height: 24px; }
body.game .aside li { font-size: 14px; width: 90px; margin: 12px; text-align: center; }
body.game .aside img { width: 80px; height: 80px; margin-bottom: 5px; }
body.game .aside a { color: #666; text-decoration: none; }
body.game .aside a:hover { color: #337ab7; }
body.game .aside span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
body.game .summary .avatar { width: 110px; height: 110px; overflow: hidden; border-radius: 16px; }
body.game .summary .digest { margin-left: 140px; font-size: 14px; }
body.game .summary .score { font-size: 20px; margin-bottom: 20px; }
body.game .summary .starts { display: inline-block; vertical-align: bottom; margin-right: 20px; }
body.game .summary .starts .icon { min-width: 20px; }
body.game .summary dt { float: left; width: 75px; height: 22px; margin-bottom: 5px; }
body.game .summary dd { float: left; width: 200px; height: 22px; overflow: hidden; margin-right: 10px; margin-bottom: 5px; }
body.game .summary .downloads { margin-top: 40px; }
body.game .summary .downloads .item { display: inline-block; background: url(//oba26vm79.bkt.clouddn.com/e26b849e90a6af9dec07082778f581c5.png) no-repeat 0 0; width: 180px; height: 50px; line-height: 50px; font-size: 18px; font-weight: bold; margin: 0 20px 10px 0; color: #fff; overflow: hidden; padding-left: 70px; text-align: left; float: left; }
body.game .summary .downloads .item.iphone { background-position: 0 -50px; }
body.game .summary .downloads .item.iphone:hover { background-position: -180px -50px; }
body.game .summary .downloads .item.android { background-position: 0 0; }
body.game .summary .downloads .item.android:hover { background-position: -180px 0; }
body.game .summary .downloads .item:hover { text-decoration: none; }
body.game .declare { font-size: 12px; padding: 20px; border: 1px solid #eee; border-radius: 5px; margin-top: 20px; }
body.game .details { margin-top: 20px; }

/* 游戏列表 */
body.games #content { margin-top: 20px; }
body.games .filter { padding: 20px 20px 0; border: 1px solid #eee; font-size: 14px; background: #fff; border-radius: 3px; box-shadow: 0 1px 3px #eee; }
body.games .filter dl { padding-left: 80px; position: relative; color: #555; margin: 0; }
body.games .filter dt { position: absolute; left: 0; top: 0; float: left; min-width: 80px; font-weight: normal; }
body.games .filter dd { float: left; margin: 0 5px 20px 0; }
body.games .filter dd a { color: #555; display: block; white-space: nowrap; padding: 0 10px; }
body.games .filter dd a.selected { color: #e4393c; }
body.games .tools { border-radius: 3px; padding: 10px 15px; margin: 20px 0 10px; border: 1px solid #ddd; font-size: 14px; box-shadow: 0 1px 3px #eee; }
body.games .tools .sorter a { float: left; padding: 0 10px; border: 1px solid #ccc; line-height: 23px; margin-right: -1px; background: #fff; color: #333; }
body.games .tools .sorter a.selected { background-color: #e4393c; color: #fff; border-color: #e4393c; }
body.games .tools .sorter a:first-child { border-radius: 3px 0 0 3px; }
body.games .tools .sorter a:last-child { border-radius: 0 3px 3px 0; }
body.games .tools .mpager .text { margin-right: 10px; font-family: verdana; line-height: 25px; }
body.games .tools .mpager b { color: #e4393c; }
body.games .tools .mpager .prev { margin-right: 5px; }
