{% set clazz = 'error' %}
{% set title = "宇宙黑洞" %}
{% extends './layout.html' %}
{% import './macro.html' as macro %}
{% block content %}
  {% if not nested %}
    <header class="bar" ui-mode="header">
      {{ macro.back() }}
      <h1 class="title">{{ title }}</h1>
    </header>
  {% endif %}
  <section>
    <div class="plate">
      <div class="draw">
        <img src="http://7xjyap.com2.z0.glb.qiniucdn.com/image-c8b8f236-24f1-4859-9e6b-02fb65d4e87a.png" alt="默认" />
        <h4 class="title">500</h4>
        <div class="brief">{{ message|default('服务器被黑洞引力束缚住无法逃脱...') }}</div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}{% endblock %}
