<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <title>{{ title|default('传奇手游')}}</title>
    <meta content="telephone=no,email=no,address=no" name="format-detection" />
    <script src="{{ '/assets/vendor/lib.js'|version }}"></script>
    <link rel="stylesheet" href="{{ '/assets/vendor/ui.css'|version }}" />
    {% block style %}{% endblock %}
  </head>
  <body class="{{ clazz }}">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <script src="{{ '/assets/js/base.js'|version }}"></script>
    {% block script %}{% endblock %}

    <!-- 百度统计 -->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?dccbf186404bba7dea248e02cbdc0dbe";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
