<aside>
  <ul>
    <li ui-sref-active="active">
      <a class="menu"><i class="glyphicon glyphicon-fire"></i>推荐管理<i class="glyphicon glyphicon-menu-right text-muted"></i></a>
      <ul>
        <li ng-class="{active: ('home'|isState)}"><a ui-sref="home">推荐管理</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a class="menu"><i class="glyphicon glyphicon-th-large"></i>手游分类<i class="glyphicon glyphicon-menu-right text-muted"></i></a>
      <ul>
        <li ng-class="{active: ('type'|isState)}"><a ui-sref="type">手游类型</a></li>
        <li ng-class="{active: ('category'|isState)}"><a ui-sref="category">手游类别</a></li>
        <li ng-class="{active: ('theme'|isState)}"><a ui-sref="theme">手游题材</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a class="menu"><i class="glyphicon glyphicon-leaf"></i>手游管理<i class="glyphicon glyphicon-menu-right text-muted"></i></a>
      <ul>
        <li ng-class="{active: ('list'|isState)}"><a ui-sref="list">手游列表</a></li>
        <li ng-class="{active: ('game'|isState)}"><a ui-sref="game">新增手游</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a class="menu"><i class="glyphicon glyphicon-flag"></i>新游推荐<i class="glyphicon glyphicon-menu-right text-muted"></i></a>
      <ul>
        <li ng-class="{active: ('news'|isState)}"><a ui-sref="news">新游推荐</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a class="menu"><i class="glyphicon glyphicon-bookmark"></i>精品推荐<i class="glyphicon glyphicon-menu-right text-muted"></i></a>
      <ul>
        <li ng-class="{active: ('lamp'|isState)}"><a ui-sref="lamp">精品推荐</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a class="menu"><i class="glyphicon glyphicon-lock"></i>权限管理<i class="glyphicon glyphicon-menu-right text-muted"></i></a>
      <ul>
        <li ng-class="{active: ('admin'|isState)}"><a ui-sref="admin">权限管理</a></li>
      </ul>
    </li>
  </ul>
</aside>
